<div id="<%= dom_id paypal_account %>">
  <p>
    <strong>Email:</strong>
    <%= paypal_account.email %>
  </p>

  <p>
    <strong>User:</strong>
    <%= paypal_account.user_id %>
  </p>

  <p>
    <strong>Default:</strong>
    <%= paypal_account.default %>
  </p>

</div>
