<div class="container-fluid">
  <h1>Editing Paypal Account</h1>
  <%= render 'form', paypal_account: @paypal_account %>
  <%= link_to 'Show', @paypal_account, class: "btn btn-success" %>
  <%= link_to 'Back', paypal_accounts_path, class: "btn btn-secondary" %>
</div>
