<div class="container-fluid">
  <h1>Editing Veichle Category</h1>
  <%= render 'form', veichle_category: @veichle_category %>
  <%= link_to 'Show', @veichle_category, class: "btn btn-success" %>
  <%= link_to 'Back', veichle_categories_path, class: "btn btn-secondary" %>
</div>
