<div id="<%= dom_id reimboursement %>">
  <p>
    <strong>State:</strong>
    <%= reimboursement.state_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= reimboursement.user_id %>
  </p>

  <p>
    <strong>Bank account:</strong>
    <%= reimboursement.bank_account_id %>
  </p>

</div>
