<div class="container-fluid">
  <h1>Editing Reimboursement</h1>
  <%= render 'form', reimboursement: @reimboursement %>
  <%= link_to 'Show', @reimboursement, class: "btn btn-success" %>
  <%= link_to 'Back', reimboursements_path, class: "btn btn-secondary" %>
</div>
