<div id="<%= dom_id fund %>">
  <p>
    <strong>Name:</strong>
    <%= fund.name %>
  </p>

  <p>
    <strong>Budget:</strong>
    <%= fund.budget %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= fund.active %>
  </p>

</div>
